@{
    var isAuth = User?.Identity?.Name != null;
    var userName = User?.Identity?.Name ?? "Не авторизован";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/global.css">
    <style>
        .hide {
            display: none;
        }

        .show {
            display: block;
        }
    </style>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        white: '#fff',
                        title: '#E5E5E5',
                        inner: '#514F4E',
                        red: '#FF0000',
                        popupCataloge: '#D9D9D9',
                    }
                }
            },
            variants: {
                extend: {
                    display: ["group-hover"],
                },
            },
        }
    </script>
    <title>Sneaker shop</title>
</head>
<body class="pb-[50px]">
    <header>
        <div class="flex gap-[222px] items-center pt-[58px] pl-[14px] text-[30px] leading-none ">
            <div>
                <a href="/Home/Index">
                    <img src="~/images/logo.jpg" alt="">
                </a>
            </div>
            <div class="flex gap-[108px]">
                <button onclick="dropdownSearcfield()" id="searchBtn" class="hover:text-red hover:duration-300 dropbtn">Поиск</button>
                <a href="/Home/Sales" class="hover:text-red hover:duration-300">Скидки</a>
                <button onclick="dropdownCatalog()" href="#" class="hover:text-red hover:duration-300">Каталог</button>
                <a href="/Home/Newproducts" class="hover:text-red hover:duration-300">Новинки</a>
                <a href="#" class="hover:text-red hover:duration-300">Аксессуары</a>
            </div>
            <div class="flex gap-[45px]">
                <a href="/Basket/Index"><img src="~/images/icons/cart.svg" alt=""></a>
                @if (isAuth)
                {
                    <a href="/Authorization/Auth">@userName</a>
                }
                else
                {
                    <a href="/Authorization/Auth"><img src="~/images/icons/profile.svg" alt=""></a>
                }
            </div>
        </div>
        <div id="searchField" class="bg-white searchContent max-w-screen w-full px-[50px] mt-[20px] hide">
            <div class="flex border-black border-b-4 py-[16px] gap-[10px] justify-between">
                <form method="get" action="/Home/Index">
                    <input name="search" class="text-[30px] leading-none max-w-[95%] w-full" type="text" placeholder="Поиск...">
                    <button class="w-[55px]"><img class="w-full" src="~/images/icons/search.svg" alt=""></button>
                </form>
            </div>
            <div class="min-h-[150px]"></div>
        </div>
        <div class="bg-popupCataloge px-[100px] py-[38px] mt-[33px] hide" id="catalog">
            <div class="flex gap-[197px] justify-center text-[30px] leading-none">
                <div class="flex flex-col gap-[32px] max-w-[180px] w-full items-center">
                    <a href="#" class="w-[171px] w-full hover:text-red">Вся Одежда</a>
                    <a href="#" class="hover:text-red">Куртки</a>
                    <a href="#" class="hover:text-red">Толстовки</a>
                    <a href="#" class="hover:text-red">Штаны</a>
                    <a href="#" class="hover:text-red">Футболки</a>
                    <a href="#" class="hover:text-red">Шорты</a>
                </div>
                <div class="flex flex-col gap-[32px] max-w-[171px] w-full items-center">
                    <a href="#" class="hover:text-red">Вся Обувь</a>
                    <a href="#" class="hover:text-red">Кроссовки</a>
                    <a href="#" class="hover:text-red">Кеды</a>
                    <a href="#" class="hover:text-red">Сланцы</a>
                    <a href="#" class="hover:text-red">Сапоги</a>
                    <a href="#" class="hover:text-red">Для бега</a>
                </div>
                <div class="flex flex-col gap-[32px] max-w-[223px] w-full items-center">
                    <a href="#" class="w-[240px] mx-auto hover:text-red">Все Аксессуары</a>
                    <a href="#" class="hover:text-red">Сумки</a>
                    <a href="#" class="hover:text-red">Рюкзаки</a>
                    <a href="#" class="hover:text-red">Шапки</a>
                    <a href="#" class="hover:text-red">Перчатки</a>
                    <a href="#" class="hover:text-red">Носки</a>
                </div>
                <div class="flex flex-col gap-[32px] max-w-[171px] w-full items-center">
                    <a href="#" class="w-[210px] mx-auto hover:text-red">Все Бренды</a>
                    <a href="#" class="hover:text-red">Nike</a>
                    <a href="#" class="hover:text-red">Adidas</a>
                    <a href="#" class="hover:text-red">Reebok</a>
                    <a href="#" class="hover:text-red">Puma</a>
                    <a href="#" class="hover:text-red w-[200px] mx-auto">New Balance</a>
                </div>
                <div class="flex flex-col gap-[32px] max-w-[205px] w-full items-center hover:text-red"><a href="#" class="text-red w-[240px]">Распродажа %</a></div>
            </div>
        </div>
    </header>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SneakerShop - <a href="#">Privacy</a>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function dropdownSearcfield() {
            document.getElementById("searchField").classList.toggle('show');
        }
        function dropdownCatalog() {
            document.getElementById("catalog").classList.toggle('show');
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>