<ul>
    <li><a href="/Admin/Home/Manufacturers">Производители</a></li> 
    <li><a href="/Admin/Home/GoodCategories">Типы товаров</a></li>
    <li><a href="/Admin/Home/Sizes">Размеры</a></li>
    <li><a href="/Admin/Home/Goods">Товары</a></li>
    <li><a href="/Admin/Home/DiscountTypes">Типы скидок</a></li>
    <li><a href="/Admin/Home/Discounts">Скидки</a></li>
    <li><a href="/Admin/Home/Basket">Корзина</a></li>
    <li><a href="/Admin/Home/OrderTypes">Типы заказов</a></li>
    <li><a href="/Admin/Home/Orders">Заказы</a></li>
    <li><a href="/Admin/Home/OrderedGoods">Заказанные товары</a></li>
</ul>