@using SneakerShop.Models.Entities;
@model SneakerShop.Models.PageModels.AdminIndexPageModel

<div>
    <h3>Список типов товаров</h3>
    <table>
        <tr>
            <td><p>Название</p></td>
            <td><p>Картинка</p></td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var e in Model.Goods)
        {
            <tr>
                <td><p>@e.Name</p></td>
                <td><img src="@e.ImageURL" style="width: 100px; height: auto"/></td>
                <td><p><a href="/Admin/Home/EditGood/@e.Id">Изменить</a></p></td>
                <td><p><a href="/Admin/Home/DeleteGood/@e.Id">Удалить</a></p></td>
            </tr>
        }
    </table>
    <br />
    <a href="/Admin/Home/AddGood">Добавить</a>
</div>