@using SneakerShop.Models.Entities;
@using SneakerShop.Models.PageModels
@model IndexPageModel
@{
    var goods = Model.Goods;
}

<!DOCTYPE html>
<html lang="en">
    <body class="pb-[389px]">
        @*<div style="background-image: url('./images/indexPage-bg.jpg')" class="bg-center bg-no-repeat bg-cover h-[536px] mt-[36px]"></div>*@
        <img src="~/images/indexPage-bg.jpg" class="bg-center bg-no-repeat bg-cover h-[536px] w-[100%] mt-[36px]"/>
        <div class="flex flex-col gap-[99px] mt-[67px]">
            <div class="uppercase text-[70px] leading-none text-center">Сезон 2023</div>
            @foreach (Good g in goods)
            {
            <div class="max-w-[1013px] max-h-[712px] mx-auto"><a href="/GoodInfo/Index/?goodId=@g.Id"><img src="@g.ImageURL" alt=""></a></div>
                <div class="text-[50px] leading-none text-center">@g.Name</div>
            }
        </div>
        <div class="flex flex-col gap-[99px] mt-[371px]">
            <div class="uppercase text-[70px] leading-none text-center">Коллаборации</div>
            <div class="max-w-[913px] max-h-[936px] mx-auto"><img src="~/images/sales-blouse.jpg" alt=""></div>
            <div class="text-[50px] leading-none text-center">Jordan x Off-White</div>
        </div>
    </body>
</html>