@using SneakerShop.Models.PageModels
@model IndexPageModel
@{
    var goods = Model.Goods;
}

<!DOCTYPE html>
<html lang="en">
<body class="pb-[50px]">
    <div class="mt-[174px] flex flex-col max-w-[1500px] mx-auto">
        <div class="flex flex-col gap-[99px] mt-[67px]">
            @foreach (Good g in goods)
            {
                <div class="max-w-[1013px] max-h-[712px] mx-auto"><a href="/Home/GetGoodInfo/?goodId=@g.Id"><img src="@g.ImageURL" alt=""></a></div>
                <div class="text-[50px] leading-none text-center">@g.Name</div>
            }
        </div>
    </div>
</body>
</html>