<!DOCTYPE html>
<html lang="en">
<body class="pb-[50px]">
    <div class="flex px-11 mt-[160px] gap-[80px]">
        <div class="max-w-[990px] w-full">
            <img src="images/air-jordan-hoodie-large.jpg" alt="">
        </div>
        <div class="flex flex-col">
            <div class="text-[48px] leading-none">Air Jordan x Off White Hoodie</div>
            <div class="text-[36px] leading-none mt-2">От 15.000 руб</div>
            <div class="mt-[48px] grid grid-cols-3 mx-auto justify-center gap-[85px] text-[48px] leading-none">
                <a href="#" class="max-w-[100px] px-[11px] py-[29px] border border-black flex justify-center items-center">XXS</a>
                <a href="#" class="max-w-[100px] px-[11px] py-[29px] border border-black flex justify-center items-center">XS</a>
                <a href="#" class="max-w-[100px] px-[11px] py-[29px] border border-black flex justify-center items-center">S</a>
                <a href="#" class="max-w-[100px] px-[11px] py-[29px] border border-black flex justify-center items-center">M</a>
                <a href="#" class="max-w-[100px] px-[11px] py-[29px] border border-black flex justify-center items-center">L</a>
                <a href="#" class="max-w-[100px] px-[11px] py-[29px] border border-black flex justify-center items-center">XL</a>
            </div>  
            <button class="text-[64px] mt-[85px] mx-auto leading-none flex justify-center items-center border border-black py-[15px] px-[120px]">Заказать</button>
        </div>
    </div>
</body>
</html>